<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pokemon:TCG </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Pokemon Search Application</h1>

<a href="" id=link> </a> <br>
<input type='text' id='userInput' value='' />
<input type='button' onclick='searchCards()' value='Card Search'/>

<script>
    function searchCards(){
        var userInput = document.getElementById('userInput').value;
        var lnk = document.getElementById('link');
        lnk.href = "http://localhost:8080/" + userInput;
        window.location = lnk.href;
    }
</script>

</body>
</html>









